<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="icon" href="/images/icon.jpg">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="//cdn.bootcss.com/prism/1.8.0/themes/prism.css" rel="stylesheet">
    {% block css %} {% endblock %}
<head>
<body>
    {% include 'navbar.html' %}

    <div id="main">
    {% block content %} {% endblock %}
    </div>


    <div id="footer">
        <div id="footer_main">
            <div class="links">
                <a class="dark" href="https://github.com/zen-yang">源码地址</a>
            </div>

            <div class="col_fade">

                <p>ZenYang的个人论坛</p>
                <p>由
                    <a href="https://cloud.tencent.com/"
                       target="_blank" class="sponsor_outlink" data-label="tencent_bottom"
                    >
                        <img src="/images/tencent.png" title="tencent" alt="tencent" width="100px">
                    </a>
                    提供云主机服务
                </p>
                <a href="http://www.miitbeian.gov.cn">
                    ICP主体备案号:粤ICP备18046955号
                </a>
            </div>


        </div>
    </div>
    <div id="sidebar-mask"></div>

</body>
